<div class="">
	<div class="draftList" ng-repeat='round in ctrl.rounds|limitTo:1:ctrl.curRound'>
		<button class="draftList__left" ng-click="ctrl.curRound = ctrl.curRound - 1;" ng-disabled="ctrl.curRound== 0"></button>
		<button class="draftList__right" ng-click="ctrl.curRound = ctrl.curRound + 1" ng-disabled="ctrl.curRound >= 12"></button>
		<div class="draftList__roundNum">Round #{{round + 1}}:</div>
		<div class="draftList__pick" ng-repeat='team in ctrl.league.teams |orderBy: $index :round % 2 == 1' ng-class="{'draftList__pick--myTeam':team.user,'draftList__pick--active':(round * ctrl.numTeams + $index) == ctrl.curPick}">
			{{team.teamName}} <br />
			Pick#: {{round * ctrl.numTeams + $index+1}} <br />
			{{ctrl.league.draftedPlayers[round * ctrl.numTeams + $index].name | abbrevNameFilter}}
		</div>

	</div>
</div>
<div class="container-fluid" ng-show="ctrl.done">
	<h4>Draft Complete</h4>
</div>
<div class="container-fluid" ng-hide="ctrl.done">
	<div class="row">
			<div class="col-md-5 draft__playerList">
				<h4>Player List</h4>
				
				<div><label>Search:</label><input type="text" name="" placeholder="Name" ng-model="ctrl.searchName" class="">
				</div>
				<div class="row">
				
					<div class="container-fluid">
						<div><b>We Suggest:</b></div>
						<div class="col-xs-4 draft__playerList__suggest" ng-repeat="suggest in ctrl.suggested" ng-click="ctrl.show(suggest)">
							<div class="col-xs-3 draft__playerList__suggest__image" style="background-image:url({{suggest.img_url}})"></div>
							#{{$index+1}}: {{suggest.name | abbrevNameFilter}} <br>
							Adj. Rtg: {{suggest.totRtg |number:2}}
						</div>
					</div>
				</div>
				<table class="table table-condensed table-striped table-bordered table-hover ">
					<thead>
						<tr>
							<th class="draft__playerList__name">Player Name</th>
							<th class="draft__playerList__stat">POS</th>
							<th class="draft__playerList__stat">PTS</th>
							<th class="draft__playerList__stat">AST</th>
							<th class="draft__playerList__stat">REB</th>
							<th class="draft__playerList__stat">STL</th>
							<th class="draft__playerList__stat">BLK</th>
							<th class="draft__playerList__stat">3PM</th>
							<th class="draft__playerList__stat">FG%</th>
							<th class="draft__playerList__stat">FT%</th>
							<th class="draft__playerList__stat">TOV</th>
							<th class="draft__playerList__stat">RTG</th>
							<!-- <th style="width:17px"></th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in (ctrl.filtered = (ctrl.playerStats | filter: {'name':ctrl.searchName}| orderBy:'-pts'))"
							ng-click="ctrl.show(player)"
							>
							<td class="draft__playerList__name">{{player.name | abbrevNameFilter}}
								<span class='badge' ng-show='ctrl.isSuggest(player) >= 0'>{{ctrl.isSuggest(player) + 1}}</span>
							</td>
							<td class="draft__playerList__stat">{{player.position}}</td>
							<td class="draft__playerList__stat">{{player.pts | number:1}}</td>
							<td class="draft__playerList__stat">{{player.ast | number:1}}</td>
							<td class="draft__playerList__stat">{{player.reb | number:1}}</td>
							<td class="draft__playerList__stat">{{player.stl | number:1}}</td>
							<td class="draft__playerList__stat">{{player.blk | number:1}}</td>
							<td class="draft__playerList__stat">{{player.fg3m | number:1}}</td>
							<td class="draft__playerList__stat">{{player.fgp = player.fgm/player.fga * 99.9|| 0 | number:1}}</td>
							<td class="draft__playerList__stat">{{player.ftp = player.ftm/player.fta * 99.9|| 0 | number:1}}</td>
							<td class="draft__playerList__stat">{{player.tov | number:1}}</td>
							<td class="draft__playerList__stat">
							{{player.totRtg || 0 | number:1}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12 playerStats">
						<!-- <h4>Player Information:</h4> -->
						<div ng-show='!ctrl.playerSelect.name'>
							<h3>Pick a Player!</h3>
						</div>
						<div class="container-fluid" ng-show='ctrl.playerSelect.name'>
							<div class="row">
								<!-- <div class=""> -->
									<div class="col-xs-2 playerStats__image" style="background-image:url({{ctrl.playerSelect.img_url}})">
										<span class='badge' ng-show='ctrl.isSuggest(ctrl.playerSelect) >= 0'>
											{{ctrl.isSuggest(ctrl.playerSelect) + 1}}
										</span>
									</div>
								<!-- </div> -->
								<div class="col-xs-10" style="{border:1px solid yellow,padding:0px}">
									<b>{{ctrl.playerSelect.name}}</b>
									{{ctrl.playerSelect.position}}
									<!-- <i>Rating:{{ctrl.playerSelect.totRtg|number:2}}</i> -->
									<!-- <i ng-show='ctrl.isSuggest(ctrl.playerSelect) >= 0'>
										Rated: #{{ctrl.isSuggest(ctrl.playerSelect)+1}} for Your Team
									</i> -->
									<button class="playerStats__draftButton btn btn-success" ng-click="ctrl.draft(ctrl.playerSelect)" ng-disabled="(!ctrl.playerSelect.name || ctrl.done || ctrl.drafting)">Draft Player</button>
									<table class="table table-condensed">
										<tr>
											<th>PTS</th>
											<th>AST</th>
											<th>REB</th>
											<th>STL</th>
											<th>BLK</th>
											<th>FG3M</th>
											<th>FG%</th>
											<th>FT%</th>
											<th>TOV</th>
										</tr>
										<tr>
											<td>{{ctrl.playerSelect.pts}}</td>
											<td>{{ctrl.playerSelect.ast}}</td>
											<td>{{ctrl.playerSelect.reb}}</td>
											<td>{{ctrl.playerSelect.stl}}</td>
											<td>{{ctrl.playerSelect.blk}}</td>
											<td>{{ctrl.playerSelect.fg3m}}</td>
											<td>{{ctrl.playerSelect.fgm/ctrl.playerSelect.fga * 100 | number:1}}</td>
											<td>{{ctrl.playerSelect.ftm/ctrl.playerSelect.fta * 100 | number:1}}</td>
											<td>{{ctrl.playerSelect.tov}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="border:1px solid yellow">
						Team Average
						<input toggle-button class="form-control" ng-model="ctrl.teamGraph" ng-change="Change()" type="checkbox" data-on="Graph" data-off="Table" data-size="mini">
						<table ng-show="!ctrl.teamGraph" class="table table-condensed">
							<tr>
								<th></th>
								<th>PTS</th>
								<th>AST</th>
								<th>REB</th>
								<th>STL</th>
								<th>BLK</th>
								<th>FG3M</th>
								<th>FG%</th>
								<th>FT%</th>
								<th>TOV</th>
							</tr>
							<tr>
								<th>
									{{ctrl.teamSelect.teamName}}
								</th>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.pts/ctrl.teamSelect.stats.count,ctrl.goals[0])">
									{{ctrl.teamSelect.stats.pts/ctrl.teamSelect.stats.count |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.ast/ctrl.teamSelect.stats.count, ctrl.goals[1])">
									{{ctrl.teamSelect.stats.ast/ctrl.teamSelect.stats.count |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.reb/ctrl.teamSelect.stats.count,ctrl.goals[2])">
									{{ctrl.teamSelect.stats.reb/ctrl.teamSelect.stats.count |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.stl/ctrl.teamSelect.stats.count, ctrl.goals[3])">
									{{ctrl.teamSelect.stats.stl/ctrl.teamSelect.stats.count |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.blk/ctrl.teamSelect.stats.count , ctrl.goals[4])">
									{{ctrl.teamSelect.stats.blk/ctrl.teamSelect.stats.count |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.fg3m/ctrl.teamSelect.stats.count, ctrl.goals[5])">
									{{ctrl.teamSelect.stats.fg3m/ctrl.teamSelect.stats.count |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.fgm/ctrl.teamSelect.stats.fga * 100 ,ctrl.goals[6])">
									{{ctrl.teamSelect.stats.fgm/ctrl.teamSelect.stats.fga*100 |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.teamSelect.stats.ftm/ctrl.teamSelect.stats.fta*100 , ctrl.goals[7])">
									{{ctrl.teamSelect.stats.ftm/ctrl.teamSelect.stats.fta*100 |number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.goals[8],ctrl.teamSelect.stats.tov/ctrl.teamSelect.stats.count )">
									{{ctrl.teamSelect.stats.tov/ctrl.teamSelect.stats.count |number:1}}
								</td>
							</tr>
							<tr ng-show="ctrl.playerSelect.name">
								<th>w/ Added Player</th>

								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.pts+ctrl.playerSelect.pts)/(ctrl.teamSelect.stats.count+1), ctrl.goals[0])">
									{{(ctrl.teamSelect.stats.pts+ctrl.playerSelect.pts)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.ast+ctrl.playerSelect.ast)/(ctrl.teamSelect.stats.count+1), ctrl.goals[1])">
									{{(ctrl.teamSelect.stats.ast+ctrl.playerSelect.ast)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.reb+ctrl.playerSelect.reb)/(ctrl.teamSelect.stats.count+1), ctrl.goals[2])">
									{{(ctrl.teamSelect.stats.reb+ctrl.playerSelect.reb)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.stl+ctrl.playerSelect.stl)/(ctrl.teamSelect.stats.count+1), ctrl.goals[3])">
									{{(ctrl.teamSelect.stats.stl+ctrl.playerSelect.stl)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.blk+ctrl.playerSelect.blk)/(ctrl.teamSelect.stats.count+1), ctrl.goals[4])">
									{{(ctrl.teamSelect.stats.blk+ctrl.playerSelect.blk)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.fg3m+ctrl.playerSelect.fg3m)/(ctrl.teamSelect.stats.count+1), ctrl.goals[5])">
									{{(ctrl.teamSelect.stats.fg3m+ctrl.playerSelect.fg3m)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.fgm+ctrl.playerSelect.fgm) /(ctrl.teamSelect.stats.fga+ctrl.playerSelect.fga) * 100, ctrl.goals[6])">
									{{(ctrl.teamSelect.stats.fgm+ctrl.playerSelect.fgm)/(ctrl.teamSelect.stats.fga+ctrl.playerSelect.fga) *100 |number:1}}
								</td>
								<td ng-style="ctrl.colourScale((ctrl.teamSelect.stats.ftm+ctrl.playerSelect.ftm)/(ctrl.teamSelect.stats.fta+ctrl.playerSelect.fta) * 100, ctrl.goals[7])">
									{{(ctrl.teamSelect.stats.ftm+ctrl.playerSelect.ftm)/(ctrl.teamSelect.stats.fta+ctrl.playerSelect.fta)  * 100|number:1}}
								</td>
								<td ng-style="ctrl.colourScale(ctrl.goals[8],(ctrl.teamSelect.stats.tov+ctrl.playerSelect.tov)/(ctrl.teamSelect.stats.count+1))">
									{{(ctrl.teamSelect.stats.tov+ctrl.playerSelect.tov)/(ctrl.teamSelect.stats.count+1) |number:1}}
								</td>
							</tr>
							<tr>
								<th>Targets</th>
								<td ng-repeat='stat in ctrl.goals'><b>{{stat | number:1}}</b></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-2" style="border:1px solid green; padding:4px; box-sizing:border-box">
				<select ng-options="team as team.teamName for team in ctrl.league.teams" ng-model="ctrl.teamSelect" style="float:right"></select>
				<h4>{{ctrl.teamSelect.teamName}}</h4>
				<table class="table table-condensed table-bordered">
					<tr>
						<th>POS</th>
						<th>Player Name</th>
					</tr>
					<tr ng-repeat="(key,value) in ctrl.teamSelect.players">
						<td>{{key}}</td>
						<td>{{value.name |abbrevNameFilter}}</td>
					</tr>
				</table>
			</div>
	</div>
</div>
<!-- {{ctrl.draftedPlayers}} -->
<!-- <p ng-repeat="(key,value) in ctrl.myTeam">
	<span>{{key}}</span>
	<span>{{value}}</span>
</p> -->