<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="ctrl.route('home')">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active:ctrl.isActive('draft')}"><a ng-click="ctrl.draftOpen()">Draft <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active:ctrl.isActive('stats')}"><a ng-click="ctrl.route('stats')">Stats</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active:ctrl.isActive('user')}">
          <a ng-click="ctrl.loginOpen()" ng-show="!ctrl.loggedIn()">Profile</a>
          <a ng-click="ctrl.route('user/'+ctrl.username)" ng-show="ctrl.loggedIn()">{{ctrl.username}}</a>
        </li>
        <li ng-class="{active:ctrl.isActive('login')}" ng-show="!ctrl.loggedIn()">
        	<a ng-click="ctrl.loginOpen()">Login</a>
        </li>
        <li ng-show="ctrl.loggedIn()">
        	<a ng-click="ctrl.logOut()">Logout</a>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
