<div class="container">
	<div class="jumbotron">
		<h1>DRAFT PROJECT</h1>
		<p>Explanation Text</p>
		<p><button class="btn btn-success btn-lg">DRAFT NOW</button></p>
	</div>
	<div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Advanced Fantasy Drafting</h3>
				<p>PROJECT TITLE does stuff.. etc</p>
			</div>
			<div class="col-sm-4">
				<h3>Detailed Statistics</h3>
				<p>Each player's statistics are analyzed by category and compared to find the best fit for your team</p>
				
				<div ng-repeat="player in ctrl.players| orderBy: '-pts'" ng-click="ctrl.changePlayer(player)" class="home__playerPanel">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 home__playerPanel__playerImg" style="background-image:url({{player.img_url}})">
							</div>
							<div>
							<b>{{player.name}}</b>
							<br>{{player.position}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<!-- GRAPH -->
				<h3>{{ctrl.playerSelect.name}}</h3>
				<nvd3 options='ctrl.options' data='ctrl.data'></nvd3>
			</div>
		</div>
		<!-- <button ng-click="ctrl.get()">GET</button> -->
	</div>
	<div class="home__CTA">
		<button class="btn btn-success btn-lg"><h2>DRAFT NOW</h2></button>
	</div>
<div>