	<div class="jumbotron mainJumbo">
		<h1>DRAFT<span style="color:#107c10">ASSIST</span></h1>
		<p>The leader in fantasy basketball drafts</p>
		<button class="btn mainJumbo__btn btn-lg" ng-click="ctrl.draftOpen()"><h2>DRAFT NOW</h2></button>
	</div>
<div class="container">
	<div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Advanced Fantasy Drafting</h3>
				<p>DRAFTASSIST uses data from the stats.nba.com API and research from past fantasy basketball seasons to help you draft the winning team for your league. DRAFTASSIST gives you the edge against your friends and coworkers during your next draft, giving you the best chance at taking 1st place! </p>
			</div>
			<div class="col-sm-4">
				<h3>Detailed Statistics</h3>
				<p>Each player's statistics are analyzed by category and compared to find the best fit for your team</p>
				
				<div ng-repeat="player in ctrl.players| orderBy: '-fg3m'" ng-click="ctrl.changePlayer(player)" class="home__playerPanel">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 home__playerPanel__playerImg" style="background-image:url({{player.img_url}})">
							</div>
							<div>
							<p><b>{{player.name}}</b>
							<br>{{player.position}}
							</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<!-- GRAPH -->
				<h3>{{ctrl.playerSelect.name}}</h3>
				<nvd3 options='ctrl.options' data='ctrl.data'></nvd3>
			</div>
			<hr>
			<div class="col-sm-12"> 
				<h3>Predictive Draft Strategy</h3>
				<p>DRAFTASSIST uses data from past fantasy drafts to establish category goals for your team that will win the majority of leagues. The target statistics (shown as the 0% line on the graph below) are meant to reach 3rd (out of 12) in every category in an average league, a threshold that will win 90% of fantasy leagues.</p>
				
				<!-- <p><i>Raptors Starters: Kyle Lowry, DeMar DeRozan, Terrence Ross, Patrick Patterson, Jonas Valanciunas</i></p> -->

			</div>
			<div class="col-sm-8">
				<h3>Raptors Starters <span ng-show='ctrl.addedPlayer.name'>with {{ctrl.addedPlayer.name}}</span></h3>
				<nvd3 options='ctrl.teamOptions' data='ctrl.teamData'></nvd3>
			</div>
			<div class="col-sm-4">
				<h3>Mid-Draft Team Analysis</h3>
				<p>As you draft your team, DRAFTASSIST will analyze the stats of your team and compare those stats against each remaining player to find the best available player for your next pick.</p>
				<p><i>Raptors Starters: Kyle Lowry, DeMar DeRozan, Terrence Ross, Patrick Patterson, Jonas Valanciunas</i></p>
				<div ng-repeat="player in ctrl.players2| orderBy: 'blk'" ng-click="ctrl.drawTeamChart(player)" class="home__playerPanel">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 home__playerPanel__playerImg" style="background-image:url({{player.img_url}})">
							</div>
							<div>
							<p><b>{{player.name}}</b>
							<br>{{player.position}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- <button ng-click="ctrl.get()">GET</button> -->
	</div>
	<div class="home__CTA">
		<button class="btn btn-success btn-lg home__CTA__btn" ng-click="ctrl.draftOpen()"><h2>DRAFT NOW</h2></button>
	</div>
<div>