<div class="container">
	<h2>STATS</h2>
	<h4>Plan your draft - Find the players you want before you start!</h4>
	<hr>
	<div class="row">
		<div class="col-xs-3 form-group">
			<label>Search Players</label>
			<input class="form-control" type="text" name="search" ng-model="ctrl.search" placeholder="Find a Player!" ng-model-options="{debounce: 250}">
		</div>
	</div>	
	<table class="table table-bordered table-striped table-hover table-condensed statTable">
		<tr>
			<th ng-repeat="category in ctrl.headers" ng-click="ctrl.sortChange(category.sort)" class="statTable__cell">{{category.label}} <i class="fa fa-caret-up" ng-show="ctrl.sort == category.sort"></i><i class="fa fa-caret-down" ng-show="ctrl.sort == '-' + category.sort"></i></th>
		</tr>
		<tr ng-repeat="player in ctrl.stats | orderBy:ctrl.sort |filter:{name:ctrl.search}" ng-click="ctrl.playerProfile(player.id)">
			<td>
				<div class = "playerbox">
					<img class = "playerbox__img" ng-src="{{player.img_url}}" alt='' onError="this.onerror=null;this.src='http://www.ligum.umontreal.ca/people/johndoe.jpg'">
				</div>
			</td>
			<td class="statTable__cell" ng-bind="player.name"></td>
			<td class="statTable__cell" ng-bind="player.position"></td>
			<td class="statTable__cell" ng-bind="player.min"></td>
			<td class="statTable__cell" ng-bind="player.pts"></td>
			<td class="statTable__cell" ng-bind="player.ast"></td>
			<td class="statTable__cell" ng-bind="player.reb"></td>
			<td class="statTable__cell" ng-bind="player.stl"></td>
			<td class="statTable__cell" ng-bind="player.blk"></td>
			<td class="statTable__cell" ng-bind="player.fg3m"></td>
			<td class="statTable__cell">{{player.fgp = player.fgm/player.fga * 100 || 0 | number:2}}</td>
			<td class="statTable__cell">{{player.ftp = player.ftm/player.fta * 100 || 0 | number:2}}</td>
			<td class="statTable__cell" ng-bind="player.tov"></td>

		</tr>
		
		

	</table>
</div>