<div class="container">
	<div class="jumbotron userJumbo">
		<h1>Welcome, {{ctrl.user.firstName}}</h1>
	</div>
	<div class="row userRow" style="overflow:none">
		<div class="col-sm-3 userOptions">
			<div ng-class="{'active':ctrl.showProfile}" ng-click="ctrl.changeDir(1)">
				<h1>Profile</h1>
			</div>
			<div ng-class="{'active':ctrl.showLeagues}" ng-click="ctrl.changeDir(2)">
				<h1>Leagues</h1>
			</div>
		</div>
		<div ng-show="ctrl.showProfile" class="col-sm-9">
			<user-profile user="{{ctrl.user}}"></user-profile>
		</div>
		<div ng-show="ctrl.showLeagues" class="col-sm-9">
			<user-leagues user="{{ctrl.user}}" leagues="{{ctrl.leagues}}"></user-leagues>
		</div>
	</div>
</div>