<table class="table table-hover">
	<tr>
		<th></th>
		<th>
			<a style="float:right" ng-click="ctrl.changeEdit()" ng-show="!ctrl.editting">Edit User Details<a>
			<a style="float:right" ng-click="ctrl.changeEdit()" ng-show="ctrl.editting">Confirm Changes<a>
		</th>
	<tr>
	<tr>
		<td>First Name:</td>
		<td  ng-show="!ctrl.editting">{{ctrl.user.firstName}}</td>
		<td ng-show="ctrl.editting"><input ng-model="ctrl.user.firstName"></td>
	</tr>
	<tr>
		<td>Last Name:</td>
		<td ng-show="!ctrl.editting">{{ctrl.user.lastName}}</td>
		<td ng-show="ctrl.editting"><input ng-model="ctrl.user.lastName"></td>
	</tr>
	<tr>
		<td>Username:</td>
		<td ng-show="!ctrl.editting">{{ctrl.user.username}}</td>
		<td ng-show="ctrl.editting"><input ng-model="ctrl.user.username"></td>
	</tr>
	<tr>
		<td>Email</td>
		<td ng-show="!ctrl.editting">{{ctrl.user.email}}</td>
		<td ng-show="ctrl.editting"><input ng-model="ctrl.user.email"></td>
	</tr>
	

</table>