<div ng-repeat="league in ctrl.leagues" style="border:teal solid 1px">
	<table class="table table-hover">
		<tr>
			<th></th>
			<th><a style="float:right" ng-click="ctrl.editToggle(league.id)">Edit League Details<a></th>
		<tr>
		<tr>
			<td>
				League Name:
			</td>
			<td ng-show="!ctrl.editLeague(league.id)">
				{{league.leagueName}}
			</td>
			<td ng-show="ctrl.editLeague(league.id)">
				<input ng-model="league.leagueName">
			</td>
		</tr>
		<tr>
			<td>
				# of Teams:	
			</td>
			<td ng-show="!ctrl.editLeague(league.id)">
				{{league.teams.length}}
			</td>
			<td ng-show="ctrl.editLeague(league.id)">
				<input ng-model="league.teams.length">
			</td>
		</tr>
		<tr>
			<td>
				Draft Position:	
			</td>
			<td ng-show="!ctrl.editLeague(league.id)">
				{{league.userPosition}}
			</td>
			<td ng-show="ctrl.editLeague(league.id)">
				<input ng-model="league.userPosition">
			</td>
		</tr>
		
	</table>
</div>



