
$stat_width: 35px;

//bootstrap override
.navbar{
	margin-bottom:5px
}

.draftList{
	height:80px;
	margin:5px;
	// margin-bottom:10px;
	//padding:10px;
	//border:1px solid teal;
	overflow:hidden;
	font-size:12px;
	// background-color:grey;
	z-index:-4;
	button{
		padding:0;
		padding-bottom:10px;
		background-color: #107c10;
		&:hover{
			background-color: #5dc21e;
		}
		&:active{
			-webkit-transform: scale(0.9);
		}
		div {
			margin:0 auto;
			span{
				font-size:50px;
				color:white;
			}
		}
	}
	&__round{
		// background-color:darkgreen;
		// border:1px solid teal;
		// width:100%;
		// display:inline-block;
		position:relative;
		z-index:-1;
		// overflow:hidden;
		&.ng-leave{
			// transform: rotate(45);
			// opacity:1;
			left:0;
			transition:0.75s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
			
		}
		&.ng-leave.ng-leave-active{
			// opacity:0;
			left:-100%
		}
		&.ng-enter{
			// transform: translate(500px);
			left:100%;
			transition:0.75s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
			
		}
		&.ng-enter.ng-enter-active{
			left:0;
		}
		&.left.ng-leave{
			// transform: rotate(45);
			// opacity:1;
			left:0;
			transition:0.75s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
			
		}
		&.left.ng-leave.ng-leave-active{
			// opacity:0;
			left:100%;
		}
		&.left.ng-enter{
			// transform: translate(500px);
			left:-100%;
			transition:0.75s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
			
		}
		&.left.ng-enter.ng-enter-active{
			left:0;
		}
	}
	// vertical-align:middle;
	// line-height:100px;
	&__roundNum{
		
		display:inline-block;
		font-weight:bold;
		line-height:80px;
		padding:5px;
		border:none;
		height:80px;
		overflow:hidden;
		color:gray;
		position:relative;
		bottom:5px;
	}
	&__pick{
		display:inline-block;
		// float:left;
		background-color:grey;
		box-sizing:border-box;
		//border:1px solid black;
		width: 6.5%;
		margin-right:5px;
		// margin-bottom:1px;
		height:80px;
		overflow:hidden;
		padding:3px;
		color:white;
		border-radius:3px;
		&--active{
			//border-color:green;
			background-color:black;
			//border-width:2px;
		}
		&--myTeam{
			//border-color:gold;
			background-color:gold;
			//border-width:2px;
			// background-color:red;
			&.draftList__pick--active{
				//border-color:red;
				background-color:red;
			}
		}
		

	}
	&__left{
		float:left;
		height:80px;
		// margin: 5px;
		width:30px;
		//border:1px solid blue;
		z-index:3;
	}
	&__right{
		// @extend .draftList__left;
		float:right;
		height:80px;
		width:30px;
		// margin:5px;
		//border:1px solid red;
		z-index:3;
	}
}

.draft__playerList {
	//border:1px solid grey;
	//background-color:grey;
	border-radius:3px;
	font-size: 12px;
	height:80vh;
	padding: 3px;
	//padding-top:22px;
	&__container{
		//background-color:white;
		border-radius:3px;
		border:1px solid grey;
	}
	table{
		// width:100%;
		max-width: 523px;
		//margin: 0 auto;
		margin:1px;

	}
	thead { 
		display:block;
		// width:97.5%; 
		//border:1px solid blue;
		tr{
			width:100%;
			//border: 1px solid green;
		}
	}
	tbody { 
		height:55vh; 
		//border: 1px solid red;
		overflow: auto; 
		display:block;
		// padding:0px; 
	}
	&__title{
	margin:5px;
	display:inline-block
	}
	&__search{
	margin:5px;
	float:right;
	display:inline-block
	}
	&__suggestTitle{
		margin-left:5px;
	}
	&__suggest{
		//border:2px solid green;
		box-sizing:border-box;
		font-weight:bold;
		font-size:14px;
		vertical-align:middle;
		padding:0px;
		text-align:center;

		&__image{
			margin-left:5px;
			height:40px;
			background-size:cover;
			background-position:center;
		}
	}
	&__name{
		// max-width:20%;
		// width:20%;
		width:135px;
		word-wrap: break-word;
		overflow: hidden;
		// padding-top:20px;
		// padding-bottom:20px;
	}
	&__stat{
		min-width:$stat_width;
		width:$stat_width;
		// font-weight:bold;
		vertical-align:middle;
		padding-right:0px !important;
	}
	// &__pts{
	// 	min-width:$stat_width;
	// 	width:$stat_width;
	// 	// color:blue;
	// }
	// &__ast{
	// 	min-width:$stat_width;
	// 	width:$stat_width;
	// }
	// &__reb{
	// 	min-width:$stat_width;
	// 	width:$stat_width;
	// }
	// &__stl{
	// 	min-width:$stat_width;
	// 	width:$stat_width;
	// }
	// &__blk{
	// 	width:$stat_width;
	// }
	// &__3pm{
	// 	width:$stat_width;
	// }
	// &__fgp{
	// 	width:$stat_width;
	// }
	// &__ftp{
	// 	width:$stat_width;
	// }
	// &__tov{
	// 	width:$stat_width;
	// }
}

.playerStats{
	height:40vh;
	//border:1px solid red;
	padding:5px;
	box-sizing:border-box;
	width:100%;
	table{
		font-size:11px;
	}
	&__image{
		height:90px;
		// width:100%;
		background-size:cover;
		background-position:center;
		float:left;
	}
	&__draftButton{
		// text-align:center;
		// color:red;
		// display:inline-block;
		margin-left:10px;
		margin-bottom:5px;
	}
	&__table{
		margin-bottom:0;
	}
}

.graphDivide{
	margin-top:5px;
	margin-bottom:5px;
}

.green{
	color:green;
	font-weight:bold;
}
.red{
	color:red;
	font-weight:bold;
}

.myTeam {
	//border:1px solid green;
	padding:4px; 
	box-sizing:border-box;
	height:475px;
	&__title{
		margin:5px 0;
	}
}

.home__playerPanel{
	&:hover{
		background-color:whitesmoke;

	}
	cursor: pointer;
	//border: 2px solid gray;
	margin-bottom:10px;
	// height:50px;
	&__playerImg{
		width:50px;
		height:50px;
		background-size:cover;
		background-position:center;
		margin-right:20px;

	}
}

.home__CTA{
	// border:1px solid red;
	text-align:center;
	// margin:0px auto;
}