.navbar {
  margin-bottom: 5px; }

.badge {
  background-color: #107c10; }

.draftList {
  height: 80px;
  margin: 5px;
  overflow: hidden;
  font-size: 12px;
  z-index: -4; }
  .draftList button {
    padding: 0;
    padding-bottom: 10px;
    background-color: #222222; }
    .draftList button:hover {
      background-color: black; }
      .draftList button:hover div span {
        color: white; }
    .draftList button:active {
      -webkit-transform: scale(0.9); }
    .draftList button div {
      margin: 0 auto; }
      .draftList button div span {
        font-size: 50px;
        color: #5dc21e; }
  .draftList__round {
    position: relative;
    z-index: -1; }
    .draftList__round.ng-leave {
      left: 0;
      transition: 0.75s cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }
    .draftList__round.ng-leave.ng-leave-active {
      left: -100%; }
    .draftList__round.ng-enter {
      left: 100%;
      transition: 0.75s cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }
    .draftList__round.ng-enter.ng-enter-active {
      left: 0; }
    .draftList__round.left.ng-leave {
      left: 0;
      transition: 0.75s cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }
    .draftList__round.left.ng-leave.ng-leave-active {
      left: 100%; }
    .draftList__round.left.ng-enter {
      left: -100%;
      transition: 0.75s cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }
    .draftList__round.left.ng-enter.ng-enter-active {
      left: 0; }
  .draftList__roundNum {
    display: inline-block;
    font-weight: bold;
    line-height: 80px;
    padding: 5px;
    border: none;
    height: 80px;
    overflow: hidden;
    color: gray;
    position: relative;
    bottom: 5px; }
  .draftList__pick {
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    width: 6.5%;
    margin-right: 5px;
    height: 80px;
    overflow: hidden;
    padding: 3px;
    color: black;
    border-radius: 3px; }
    .draftList__pick--active {
      border: #5dc21e solid 5px;
      color: #107c10;
      font-weight: bold; }
    .draftList__pick--myTeam {
      color: white;
      background-color: #222222; }
      .draftList__pick--myTeam.draftList__pick--active {
        color: #5dc21e; }
  .draftList__left {
    float: left;
    height: 80px;
    width: 30px;
    z-index: 3; }
  .draftList__right {
    float: right;
    height: 80px;
    width: 30px;
    z-index: 3; }

.draft__playerList {
  border-radius: 3px;
  font-size: 12px;
  height: 80vh;
  padding: 3px; }
  .draft__playerList__container {
    border-radius: 3px;
    border: 1px solid grey; }
  .draft__playerList table {
    max-width: 523px;
    margin: 1px; }
  .draft__playerList thead {
    display: block; }
    .draft__playerList thead tr {
      width: 100%; }
  .draft__playerList tbody {
    height: 55vh;
    overflow: auto;
    display: block; }
  .draft__playerList__title {
    margin: 5px;
    display: inline-block; }
  .draft__playerList__search {
    margin: 5px;
    float: right;
    display: inline-block; }
  .draft__playerList__suggestTitle {
    margin-left: 5px; }
  .draft__playerList__suggest {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    padding: 0px;
    text-align: center; }
    .draft__playerList__suggest__image {
      margin-left: 5px;
      height: 40px;
      background-size: cover;
      background-position: center; }
  .draft__playerList__name {
    width: 135px;
    word-wrap: break-word;
    overflow: hidden; }
  .draft__playerList__stat {
    min-width: 35px;
    width: 35px;
    vertical-align: middle;
    padding-right: 0px !important; }

.playerStats {
  height: 40vh;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%; }
  .playerStats table {
    font-size: 11px; }
  .playerStats__image {
    height: 90px;
    background-size: cover;
    background-position: center;
    float: left; }
  .playerStats__draftButton {
    margin-left: 10px;
    margin-bottom: 5px;
    float: right; }
  .playerStats__table {
    margin-bottom: 0; }

.graphDivide {
  margin-top: 0;
  margin-bottom: 5px; }

.teamAverage {
  padding: 0 5px; }
  .teamAverage__graphToggle {
    float: right; }
  .teamAverage__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px; }
  .teamAverage__control {
    float: right; }

.green {
  color: green;
  font-weight: bold; }

.red {
  color: red;
  font-weight: bold; }

.myTeam {
  padding: 4px;
  box-sizing: border-box;
  height: 475px; }
  .myTeam__title {
    margin: 5px 0; }

.home__playerPanel {
  cursor: pointer;
  border: 2px solid gray;
  margin-bottom: 10px; }
  .home__playerPanel:hover {
    background-color: whitesmoke; }
  .home__playerPanel__playerImg {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px; }

.home__CTA {
  text-align: center; }
  .home__CTA__btn {
    margin: 25px 0;
    padding: 0 125px; }

.mainJumbo {
  background-image: url("../images/home_ballground.jpg");
  background-size: cover; }
  .mainJumbo h1 {
    color: white; }
  .mainJumbo p {
    color: white; }
  .mainJumbo__btn {
    background-color: black;
    color: #5dc21e;
    border: #5dc21e solid 2px; }
    .mainJumbo__btn:hover {
      color: white;
      border: white solid 2px; }

.userJumbo {
  background-image: url("../images/home_ballground.jpg"); }
  .userJumbo h1 {
    color: white; }

/*# sourceMappingURL=draft.css.map */
