$darkgreen:#107c10;
$lightgreen:#5dc21e;

//BOOTSTRAP OVERRIDES
.navbar-items{
	font-family: bebas_neue;
	font-size:24px !important;
	cursor:pointer;
}

.navbar-inverse li a{
	@extend .navbar-items;
	margin:0;
	/*color:#107c10!important;*/
	color:$lightgreen !important;
	&:hover{
		color:white!important;
	}
}

.btn-success{
	background-color:$lightgreen;
	&:hover{
		background-color:$darkgreen;
	}
}

.navbar-brand{
	// color:white !important;
	@extend .navbar-items;
	color:$lightgreen!important;
	&__split{
		color:white!important;
		// &:hover{
		// 	color:$lightgreen !important;
		// }
	}
	&:hover,&:hover &__split{
		color:$darkgreen !important;
	}
}
//END OVERRIDES


.playerbox {
	height:40px;
	width:50px;
	overflow:hidden;
	text-align:center;
	&__img{
		height:100%;
		cursor:pointer;
	}
}

.statTable__cell{
	vertical-align:middle !important;
	text-align:center;
}

.playerHeader {
	margin-bottom: 15px;
	h2{
		margin:5px;
	}
	&__img{
		height:180px;
		width:225px;
		background-size:cover;
	}
}

.userLeagues{
	height:55vh;
	overflow-y:scroll;
	// border:1px solid red;

	&__league{
		border:1px solid $darkgreen;
		border-radius:5px;
		// margin-bottom:10px;
		margin:5px;
		box-sizing:border-box;
		padding:5px;
		position:relative;
		table{
			margin-bottom:5px;
		}
		&__buttons{
			// float:right;
			// position:relative;
			text-align:center;
			margin:0 auto;
		}
	}
	&__createButton{
		margin-left:10px;
	}
}

.userOptions{
	background-color:black;
	color:white;
	height:400px;
	h1{
		cursor:pointer !important;
	}
	.active{
		color:$lightgreen;
		text-decoration:underline;
	}
}

.btn-black{
	background-color:#343434;
	color:$lightgreen;
	&:hover{
		color:white;
		background-color:black;
	}
	&:active,&:focus{
		color:$lightgreen;
	}
}

