@font-face {
	font-family:bebas_neue;
	src:url(../fonts/bebas_neue/BebasNeue_Bold.otf);
}

@font-face{
	font-family:montserrat;
	src:url(../fonts/montserrat/Montserrat-Regular.ttf);
}

/*FOR UI-BOOTSTRAP*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.playerbox {
	height:40px;
	width:50px;
	overflow:hidden;
	text-align:center;

}

.playerbox__img{
	height:100%;
}

.statTable__cell{
	vertical-align:middle !important;
	text-align:center;
}

.playerHeader {
	margin-bottom: 15px;
}


.playerHeader__img{
	height:180px;
	width:225px;
	background-size:cover;
}

.navbar-inverse{
	margin:0;
	font-family: bebas_neue;
}

/* when hiding the picture */
/*.ng-hide-add         { animation:0.5s slideOut ease; }

 when showing the picture 
.ng-hide-remove      { animation:0.5s slideIn ease; }*/
