$darkgreen:#107c10;
$lightgreen:#5dc21e;

.userLeagues{
	height:55vh;
	overflow-y:scroll;
	// border:1px solid red;

	&__league{
		border:1px solid $darkgreen;
		border-radius:5px;
		// margin-bottom:10px;
		margin:5px;
		box-sizing:border-box;
		padding:5px;
		position:relative;
		table{
			margin-bottom:5px;
		}
		&__buttons{
			// float:right;
			// position:relative;
			text-align:center;
			margin:0 auto;
		}
	}
	&__createButton{
		margin-left:10px;
	}
}

.userOptions{
	background-color:black;
	color:white;
	height:400px;
	h1{
		cursor:pointer !important;
	}
	.active{
		color:$lightgreen;
		text-decoration:underline;
	}
}

.btn-black{
	background-color:#343434;
	color:$lightgreen;
	&:hover{
		color:white;
		background-color:black;
	}
}

