@font-face {
	font-family:bebas_neue;
	src:url(../fonts/bebas_neue/BebasNeue_Bold.otf);
}

@font-face{
	font-family:montserrat;
	src:url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face{
	font-family:montserrat-light;
	src:url(../fonts/montserrat/montserrat-light.ttf);
}

h1,h2{
	font-family:bebas_neue;
}
button h2{
	/*vertical-align:middle;*/
	margin-top: 10px;
	margin-bottom:0px;
	font-size:40pt;
}
h3,h4,b,th{
	font-family:montserrat;
}
p,label,td,button{
	font-family:montserrat-light;
}


/*FOR UI-BOOTSTRAP*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* when hiding the picture */
/*.ng-hide-add         { animation:0.5s slideOut ease; }

 when showing the picture 
.ng-hide-remove      { animation:0.5s slideIn ease; }*/
